.knp2{
  width: 245px;
  height: 48px;
  margin-left: 598px;
  border-width: 1px;
  border: 2px solid #B88E2F;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color:#B88E2F ;
  background: white;
  margin-top: 32px;
}
.Explorebloc4{
  width: 176px;
  height: 48px;
  background: #B88E2F;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: white;
  border: none;
  margin-top: 25px;
}
.knstrelka {
  width: 48px;
  height: 48px;
  background: #B88E2F;
  border: none;
  margin-top: 507px;
  margin-left: -178px;
}
.BUY{
  width: 222px;
  height: 74px;
  top: 585px;
  left: 778px;
  padding-top: 25px;
  padding-right: 72px;
  padding-bottom: 25px;
  padding-left: 72px;
  gap: 10px;
  background: #B88E2F;
  color: white;
  border: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-top: 46px;
}
.animkn{
  width: 202px;
  height: 48px;
  background: #FFFFFF;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #B88E2F;
  border: none;
  filter: none;
  margin-left: 41px;
  margin-top: 175px;
}