.glavfoot{
  display: flex;

}
.Links{
  margin-left: 523px;
}
footer{
  margin-left: 100px;
  margin-top: auto;
}
.email-input{
  outline: 0;
  border-width: 0 0 2px;
  border-color: #000000
}
.subscribe-btn{
  outline: 0;
  border-width: 0 0 2px;
  border-color: #000000;
  background: white;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

}
.glavfooter2{
  gap: 172px;
  display: flex;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #9F9F9F;
}
.Funirofoot{
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;

}
.glavfooter3{
    gap: 101px;
    display: flex;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    margin-top: 39px;
    margin-left: -82px;
}
.Home{
  margin-left: 679px;
    margin-top: -22px;
}
.Payment{
  margin-top: -22px;
  margin-left: 70px;
}
.colar{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #9f9f9f;
    margin-left: 80px;
    position: absolute;


}
form{
  margin-top: -26px;
}
.podvinyt{
  margin-left: 598px;
  margin-top: -21px;

}
.glavfooter4{
  display: flex;
  gap: 181px;
  margin-top: 46px;
}
.glavfooter5{
  display: flex;
  gap: 175px;
  margin-top: 22px;
}
.poslednee{
  margin-top: 22px;
}
.furino{
  margin-top: 23px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

}