/* Новые стили для прижатия футера */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-bottom: 50px; /* Отступ от футера */
}

.content-wrapper {
  flex: 1 0 auto;
}
.glavfoot{
  display: flex;
  width: 100%;

}
.Links{
  margin-left: 523px;
}
footer{
  margin-left: 100px;
}
.Links {
  margin-left: auto; /* Заменяем фиксированный отступ */
}
footer hr {
    width: 1240px;
    border: 0;
    height: 2px;
    background-color: #d9d9d9;
    margin: 26px 0;
    position: static;
    margin-left: -2px;
}
.footer-hr-top{
    width: 107%;
    border: 0;
    height: 2px;
    background-color: #d9d9d9;
    margin: 34px 0 26px -105px;
    position: static;
    margin-left: -105px;
}
.email-input{
  outline: 0;
  border-width: 0 0 2px;
  border-color: #000000
}
.subscribe-btn{
  outline: 0;
  border-width: 0 0 2px;
  border-color: #000000;
  background: white;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

}
.glavfooter2{
  gap: 172px;
  display: flex;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #9F9F9F;
  margin-left: 520px;
}
.Funirofoot{
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;

}
.glavfooter3{
    gap: 101px;
    display: flex;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    margin-top: 39px;
    margin-left: -82px;
}
.Home{
  margin-left: 679px;
    margin-top: -22px;
}
.Payment{
  margin-top: -22px;
  margin-left: 70px;
}
.colar{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #9f9f9f;
    margin-left: 80px;
    position: absolute;


}
form{
  margin-top: -26px;
}
.podvinyt{
  margin-left: 598px;
  margin-top: -21px;

}
.glavfooter4{
  display: flex;
  gap: 181px;
  margin-top: 46px;
}
.glavfooter5{
  display: flex;
  gap: 175px;
  margin-top: 22px;
}
.poslednee{
  margin-top: 22px;
}
.furino{
    margin-top: 18px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 191%;
    letter-spacing: 0;

}
