.bloc2stran5{
  width: 648px;
  height: 45px;
  margin-top: 59px;
  margin-left: 100px;
  display: flex;
  background: #f9f1e7;
  gap: 114px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  padding-top: 12px;
  padding-left: 127px;
  color: #000;

}
.CartTotals{
  width: 393px;
  height: 390px;
  background: #F9F1E7;
  margin-left: 947px;
  margin-top: -56px;
}
.zgcarttotals{
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 15px;
}
.dicpcart1{
  display: flex;
  gap: 62px;
  margin-left: 75px;
  margin-top: 61px;
}
.dicpcart12{
  display: flex;
  gap: 62px;
  margin-left: 75px;
  margin-top: 31px;
}
.Subtotalstr5{
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

}
.chena250{
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #9F9F9F;

}
.Rs1234{
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #B88E2F;

}
.imgkart1korzina3 {
  width: 105px;
  height: 105px;
  margin-left: -1148px;
  margin-top: -70px;
  position: absolute;
}
.displaystran500{
  display: flex;
  gap: 69px;
  margin-left: -699px;
  margin-top: -149px;
}