<header>
    <div class="logochelo">
        <img src="./assets/images/logo.webp">
        <div class="Furniro">Furniro</div>
    </div>
    <div class="display">
        <div class="">Home</div>
        <div class="">Shop</div>
        <div class="">About</div>
        <div class="">Contact</div>
    </div>
    <div class="navg">
        <img src="./assets/images/helovek.webp">
        <img src="./assets/images/poisk.webp">
        <img src="./assets/images/like.webp">
        <img src="./assets/images/korzina.webp">
    </div>
</header>