<div class="cartproduct">
    <picture>
        <source srcset="@@img-webp" type="image/webp">
        <img src="@@img" alt="@@alt" class="card__image">
    </picture>

    <div class="card__body">
        <h3 class="card__title">@@title</h3>
        <p class="card__text">@@text</p>
        <div class="card__prices">
            <span class="card__price">Rp @@cardPrice</span>
            @@if (context.cardSale) {
            <span class="card__sale">Rp @@cardSale</span>
            }
        </div>
    </div>
</div>