<footer class="site-footer">
    <hr class="footer-hr-top">
    <div class="glavfoot">
        <div class="Funirofoot">Funiro.</div>
        <div class="glavfooter2">
            <div class="Links">Links</div>
            <div>Help</div>
            <div>Newsletter</div>
        </div>
    </div>
    <div class="glavfooter3">
        <div class="colar">400 University Drive Suite 200 Coral <br> Gables, <br>FL 33134 USA</div>
        <div class="Home">Home</div>
        <div class="Payment">Payment Options</div>
        <form action="#" method="POST">
            <input type="email" placeholder="Enter Your Email Address" required class="email-input">
            <button type="submit" class="subscribe-btn">SUBSCRIBE</button>
        </form>
    </div>
    <div class="podvinyt">
        <div class="glavfooter4">
            <div>Shop</div>
            <div>Returns</div>
        </div>
        <div class="glavfooter5">
            <div>About</div>
            <div>Privacy Policies</div>
        </div>
        <div class="poslednee">Contact</div>
    </div>
    <hr class="footer-hr-bottom">
    <div class="furino">2023 furino. All rights reverved</div>
</footer>