<header>
    <div class="logochelo">
        <img src="./assets/images/logo.webp">
        <div class="Furniro">Furniro</div>
    </div>
    <div class="display">
        <a href="./index.html">Home</a>
        <a href="./strenicka2.html" >Shop</a>
        <div class="">About</div>
        <a>Contact</a>
    </div>
    <div class="navg">
        <img src="./assets/images/helovek.webp">
        <img src="./assets/images/poisk.webp">
        <img src="./assets/images/like.webp">
    </div>
            <label for="cart-toggle">
    <img src="./assets/images/korzina.webp" class="cart-icon">
</label>
<input type="checkbox" id="cart-toggle" class="cart-toggle">
<!-- Добавляем этот div для затемнения фона -->
<div class="modal-overlay"></div>
<div class="cart-modal">
    <div class="cart-content">
        <div class="nachalokorzina">
            <h3 class="ShoppingCart"> Shopping Cart</h3>
            <img class="korzinazak"     src="./assets/images/otkritaakarzina.webp">
        </div>
        <div class="linekorzina"></div>
        <div class="main">
            <img class="imgkart1korzina"   src="./assets/images/kartkorzina1.webp">
            <div class="textkart1korzina">
                <div class="Asgaardsofakorzin">Asgaard sofa</div>
                <div class="dkart12">
                    <div class="">1</div>
                    <div class="">X</div>
                    <div class="Rs250">Rs. 250,000.00</div>
                </div>
                <img class="krestkorzina"   src="./assets/images/krest.webp">
            </div>
                    <div class="main">
            <img class="imgkart1korzina"   src="./assets/images/korzinatovar2.webp">
            <div class="textkart1korzina">
                <div class="Asgaardsofakorzin">Casaliving Wood</div>
                <div class="dkart12">
                    <div class="">1</div>
                    <div class="">X</div>
                    <div class="Rs250">Rs. 270,000.00</div>
                </div>
                <img class="krestkorzina"   src="./assets/images/krest.webp">
            </div>
                <div class="footerkorzina">
                    <div class="Subtotalkorzina">Subtotal</div>
                    <div class="chenakorzina">Rs. 520,000.00</div>
                </div>
                        <div class="linefooterkorzina"></div>
                        <div class="knopkifooterkorzina">
                            <a href="./stranicka5.html" target="_blank">
                                <button class="obchiabitn">Cart</button>
                            </a>
                            <a href="./stranicka6.html" target="_blank">
                                <button class="obchiabitn">Checkout</button>
                            </a>
                            <a href="./stranicka4.html" target="_blank">
                                <button class="obchiabitn">Comparison</button>
                            </a>
                        </div>
            </div>
        </div>
    </div>
</div>
</header>
